// Text sizes
$text-xxs: 0.625rem;
$text-xs: 0.75rem;
$text-sm: 0.875rem;

// Text colors
$high-emphasis: rgba(255, 255, 255, 0.87);
$medium-emphasis: rgba(255, 255, 255, 0.60);
$disabled: rgba(255, 255, 255, 0.38);

// Background colors
$secondary-black: #282828;
$secondary-black-highlight: #404040;

// Shadows
$shadow-4dp: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
$shadow-6dp: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12);;