// Text sizes
$text-xxs: 0.625rem;
$text-xs: 0.75rem;
$text-sm: 0.875rem;

// Text colors
$high-emphasis: rgba(255, 255, 255, 0.87);
$medium-emphasis: rgba(255, 255, 255, 0.60);
$disabled: rgba(255, 255, 255, 0.38);